
.image-slider .img-info-1, .img-info-2, .img-info-3{
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.img-info-1{
    background-image: url(images/banner.png);
}

.image-slider .img-info-2{
    background-image: url(images/banner-3.jpg);   
}

.image-slider .img-info-3{
    background-image: url(images/banner-2.jpg);
}

.book-btn, .card-btn{
    outline: 0;
    background-color: white;
    border: 0;
}
ul{
    list-style: none;
}
.card-row{
    height: 700px;
}
.single-card{
    height: 410px;
    bottom: 50px;
    border-radius: 50px;
}
